<!-- START FOOTER -->
<section class="p-b-30 p-t-40 bg-master-lightest">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="assets/images/logo_white.png" class="logo" alt="">
                <div class="m-t-10 ">
                    <ul class="no-style fs-11 no-padding font-arial">
                        <li class="inline no-padding"><a href="#" class="link text-white p-r-10 b-r b-transparent-white">Home</a></li>
                        <li class="inline no-padding"><a href="#" class="link text-white p-r-10 b-r b-transparent-white">Find a doctor</a></li>
                        <li class="inline no-padding"><a href="#" class="link text-white p-r-10 b-r b-transparent-white">Benefits of medapp</a></li>
                        <li class="inline no-padding"><a href="#" class="link text-white p-r-10 b-r b-transparent-white">Have a question?</a></li>
                        <li class="inline no-padding"><a href="#" class="link text-white p-r-10 b-r b-transparent-white">Login or register</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 text-right font-arial sm-text-left">
                <p class="fs-11 muted text-white">Copyright &copy; 2017 medapp. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>
<!-- END FOOTER -->