<nav class="header bg-header transparent-light " data-pages="header" data-pages-header="autoresize" data-pages-resize-class="light">
    <div class="container relative">
        <!-- BEGIN LEFT CONTENT -->
        <div class="pull-left z-index-10">
            <!-- BEGIN HEADER TOGGLE FOR MOBILE -->
            <div class="visible-sm-inline visible-xs-inline menu-toggler pull-right" data-pages="header-toggle" data-pages-element="#header">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>
        <!-- BEGIN CENTER CONTENT -->
        <div class="pull-center">
            <div class="pull-center-inner">
                <div class="header-inner ">
                    <!-- BEGIN LOGO -->
                    <img src="assets/images/logo_black.png" height="30" data-src-retina="assets/images/logo_black_2x.png" class="alt" alt="">
                    <img src="assets/images/logo_white.png" height="30" data-src-retina="assets/images/logo_white_2x.png" class="logo" alt="">
                </div>
            </div>
        </div>
        <div class="pull-right relative z-index-10 visible-sm-inline visible-xs-inline">
            <div class="header-inner ">
                <a href="#" data-toggle="search" class="search-toggle"><i class="fs-14 pg-search"></i></a>
            </div>
        </div>
        <!-- END CENTER CONTENT -->
        <!-- BEGIN MENU -->
        <div class=" menu-content clearfix" data-pages="menu-content" data-pages-direction="slideLeft" id="header">
            <!-- BEGIN HEADER CLOSE TOGGLE FOR MOBILE -->
            <div class="pull-left">
                <a href="#" class="text-black link padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10" data-pages="header-toggle" data-pages-element="#header">
                    <i class=" pg-close_line"></i>
                </a>
            </div>
            <div class="pull-left sm-full-width">
                <div class="header-inner">
                    <!-- BEGIN MENU ITEMS -->
                    <ul class="menu">
                        <li>
                            <a href="index.html" data-text="Home" class="active">Home</a>
                        </li>
                        <li>
                            <a href="features.html" data-text="Pricing">Features</a>
                        </li>
                        <li>
                            <a href="contact.html" data-text="Contact Us">Contact Us</a>
                        </li>
                    </ul>
                    <!-- END MENU ITEMS -->
                </div>
            </div>
            <div class="pull-right sm-full-width">
                <div class="header-inner">
                    <!-- BEGIN MENU ITEMS -->
                    <ul class="menu">
                        <li>
                            <a href="login.html" data-text="Contact Us" class="active">Login</a>
                        </li>
                    </ul>
                    <!-- END MENU ITEMS -->
                    <!-- BEGIN COPYRIGHT FOR MOBILE -->
                    <div class="font-arial m-l-35 m-r-35 m-b-20 m-t-20 visible-sm visible-xs">
                        <p class="fs-11 small-text muted">Copyright &copy; 2017 medapp</p>
                    </div>
                    <!-- END COPYRIGHT FOR MOBILE -->
                </div>
            </div>
        </div>
        <!-- END MENU -->
    </div>
</nav>