<footer class="containter-fluid bg-drk-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="index.html" class="footer-link">Home</a>
            </div>
            <div class="col-sm-3">
                <a href="features.html" class="footer-link">About medapp</a>
            </div>
            <div class="col-sm-3">
                <a href="search.html" class="footer-link">Search</a>
            </div>
            <div class="col-sm-3">
                <a href="contact.html" class="footer-link">Contact</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="copyright text-center small pad-20">Copyright medapp 2017</p>
            </div>
        </div>
    </div>
</footer>