<nav class="container-fluid float-top">
    <div class="row nav">
        <a class="col-sm-2" href="index.html">
            <img src="img/logo-white.png" alt="medapp logo white">
        </a>
        <div class="col-sm-4 header-link">
            <button class="btn btn-link white pull-left" href="">Invite a doctor</a>
                    </div>
                     <div class="col-sm-6 signup">
                        <button class="btn btn-grn pull-right" href="">Sign up to save searches</button>
            <button class="btn btn-link white pull-right" href="">Login</button>
        </div>
    </div>
</nav>