<div class="row">
	<div class="col-sm-12">
		<h1 class="white pad-l-5 margin-t-45 margin-b-0">
			<img src="{{vm.genderIcon}}" alt="" class="gender-icon animated fadeIn" ng-class="vm.patientGender">
			{{vm.welcome}}
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div ng-hide="vm.showProgress === true" class="patient-record pad-b-20 animated fadeIn">

			<ul class="buttons" ng-class="vm.show">
				<li ng-click="vm.show = 'patient'" title="View Patient Details">Patient
				</li>
				<li ng-click="vm.show = 'aid'" title="View Medical Aid Details">Insurance
				</li>
				<li ng-click="vm.show = 'meds'" title="View Patient Medication">Drugs
				</li>
			</ul>
			<div class="medication">
				<table ng-show="vm.show=='meds'" class="table table-striped animated fadeIn">
					<tr>
						<td>Code</td>
						<td>Description</td>
						<td>Dosage</td>
					</tr>
					<tr ng-repeat="drug in vm.patientRecords.data.drugs ">
						<td class="text-center">{{vm.patientRecords.data.drugs[$index].code}}</td>
						<td>{{vm.patientRecords.data.drugs[$index].description}}</td>
						<td class="text-center">{{vm.patientRecords.data.drugs[$index].dose}}</td>
					</tr>
				</table>
			</div>
			<div class="patient-details animated fadeIn">
				<ul class="details" ng-show="vm.show =='patient'" class="">
					<li><span>ID:</span> {{vm.patientRecords.data.id}}</li>
					<li><span>Gender:</span> {{vm.patientRecords.data.gender}}</li>
					<li><span>Phone Number:</span> {{vm.patientRecords.data.phone_number}}</li>
					<li><span>Email:</span> {{vm.patientRecords.data.email}}</li>
					<li><span>Address:</span> {{vm.patientRecords.data.residential_address}}</li>
				</ul>
			</div>
			<div class="insurance-details">
				<ul class="details" ng-show="vm.show =='aid'" class="animated fadeIn">
					<li><span>Medical Aid:</span> {{vm.patientRecords.data.medical_aid}}</li>
					<li><span>Member Number:</span> {{vm.patientRecords.data.medical_aid_number}}</li>
					<li><span>Plan:</span> {{vm.patientRecords.data.medical_aid_plan}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>